@import url('./reset.css');

body{
    background-color: rgb(0 0 0 / 85%);
    margin: 0;
  }

  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

.form{
    display: flex;
    padding-left: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 24px;
}

  .gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .photo-information-container {
    display: flex;
    gap: 20px;
    background: #FFF;
    padding-left: 20px;
    padding-top: 4px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .photos-list-link{
    border-radius: 20px;
  }
  
  .photos-list-item{
    transition: 0.7s;
    border: 2px solid #808080;
    border-radius: 10px;
  }

  .photos-list-item:hover{
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
    1px 2px 4px 0px rgba(0,255,255,0.7),
    2px 4px 8px 0px rgba(0,255,255,0.7),
    2px 4px 16px 0px rgba(0,255,255,0.7);
    transform: scale(01.05)  
  }
  
  .photo {
    display: block;
    width: 360px;
    height: 240px;
    contain: content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  input {
    outline: 0;
    outline-offset: 0;
    width: 272px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.3s;
  }
  input:active, input:hover {
    /* border-color: #4E75FF; */
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
    1px 2px 4px 0px rgba(0,255,255,0.7),
    2px 4px 8px 0px rgba(0, 255, 255, 0.702),
    2px 4px 16px 0px rgba(0,255,255,0.7);
  }

  button {
    width: 91px;
    height: 57px;
    border-radius: 8px;
    background-color: #4E75FF;
    padding: 8px 16px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    transition: 0.3s;
    }
    
    button:hover{
      box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
                1px 2px 4px 0px rgba(0,255,255,0.7),
                2px 4px 8px 0px rgba(0,255,255,0.7),
                2px 4px 16px 0px rgba(0,255,255,0.7);
                background-color: darkblue;
                color: chocolate;
    }

    .btnMore{
width: 120px;
    }
.stylesBtnMore{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}

    .loader {
        border-radius: 100%;
        border-top: 20px solid blue;
        border-right: 20px solid gold;
        border-bottom: 20px solid red;
        border-left: 20px solid cyan;
        width: 25px;
        height: 25px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 1s linear infinite;
        margin: auto;
        margin-top: 200px;
      }
      
      .is-hidden {
        display: none;
      }
      
      @-webkit-keyframes spin {
        100% { -webkit-transform: rotate(360deg); }
      }
      @keyframes spin {
        100% { transform: rotate(360deg); }
      }



      .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
        font-size: 24px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1000;
        opacity: 0.9;
      }
       
      .back-to-top:hover {
        box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
        1px 2px 4px 0px rgba(0,255,255,0.7),
        2px 4px 8px 0px rgba(0,255,255,0.7),
        2px 4px 16px 0px rgba(0,255,255,0.7);
        text-decoration: none;
        transition: 0.3s;
      }